
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--ambima-text-color);
    margin: 0;
    padding: 20px;
    background-color: #FFF; /* Fundo branco */
}

.container, .investments-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    background-color: var(--ambima-light-gray);
    border: 1px solid var(--ambima-border);
    border-radius: 4px;
}

h1, h2 {
    color: var(--ambima-blue);
    text-align: center;
    margin-bottom: 20px;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

.intro-text, .disclaimer {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #FFF;
    border: 1px solid var(--ambima-border);
    border-radius: 4px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #FFF;
    border: 1px solid var(--ambima-border);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--ambima-border);
}

table th {
    background-color: var(--ambima-blue);
    color: #FFF;
    font-weight: bold;
}
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .container, .investments-section {
        margin: 10px auto;
        padding: 15px;
    }
    table, button {
        font-size: 0.9em;
    }
}